
/* Apply a custom scrollbar style */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1a75ff;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
